node_modules
# Keep environment variables out of version control
.env
.env.local
.env.migrate
.env.production

.next
.DS_Store

public/uploads

# Sentry
.sentryclirc

# ts checks
tsconfig.tsbuildinfo

.vercel

# Cypress videos and screenshots
cypress/videos/
cypress/screenshots/
cypress/reports

# `next export` out directory
/out
