node_modules
# Keep environment variables out of version control
.env
.env.local

.next
.DS_Store

public/uploads
# Sentry
.sentryclirc

# Local Netlify folder
.netlify

# Netlify build
out_*

# ts checks
tsconfig.tsbuildinfo